* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  &::-webkit-scrollbar {
    width: 0.5rem;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #94d0cc;
  }
}

body {
  font-family: 'Tomorrow', sans-serif;
  max-width: 1920px;
  margin: auto;
  padding: auto;
}

h2 {
  font-size: 3rem;
  font-family: 'Saira Stencil One', cursive;
}

h3 {
  font-size: 1.3rem;
  color: #a7bbc7;
  padding: 1.5rem 0rem;
}

h4 {
  font-size: 1vw;
  color: #a7bbc7;
  padding-bottom: 0.5rem;
}

p {
  font-size: 1.2rem;
  line-height: 200%;
  color: #d1d9d9;
}

input {
  font-family: 'Saira Stencil One', cursive;
}

a {
  text-decoration: none;
  color: #a7bbc7;
}

img {
  width: 100%;
  display: block;
}

svg {
  color: #d1d9d9;
  font-size: 3vw;
}
