@import url('https://fonts.googleapis.com/css2?family=Saira+Stencil+One&family=Tomorrow:ital,wght@0,500;1,200&display=swap');

body {
  font-family: 'Tomorrow', sans-serif;
}

h2 {
  font-size: 3rem;
  font-family: 'Saira Stencil One', cursive;
}

h3 {
  font-size: 1.3rem;
}

h4 {
  font-size: 1.2rem;
}

p {
  font-size: 1.2rem;
  line-height: 200%;
}

input {
  font-family: 'Saira Stencil One', cursive;
}

a {
  text-decoration: none;
}

svg {
  font-size: 3vw;
}
