$xlBreakpoint: 1920px;
$lgBreakpoint: 1280px;
$mdBreakpoint2: 641px;
$mdBreakpoint: 640px;
$smBreakpoint: 240px;

$background: #ccf2f4;
$black: #222831;
$grey: #686d76;
$purple: #7b6079;
$pink: #da7f8f;
$teal: #94d0cc;
$peach: #f39189;
$white: #f9f9f9;
$test: #ffffff;
