.gameList {
  padding: 0rem 5rem;

  h2 {
    padding: 5rem 0rem;
  }
}

.games {
  min-height: 80vh;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30em, 1fr));
  grid-column-gap: 3rem;
  grid-row-gap: 5rem;
}

@media (max-width: $smBreakpoint) {
  .gameList {
    padding: 0rem 1rem;
  }

  .games {
    grid-template-columns: repeat(auto-fit, minmax(15em, 1fr));
  }
}
