.gallery {
  img {
    height: 49vw;
  }

  .leftArrow {
    position: absolute;
    top: 85%;
    left: 1rem;
    font-size: 3vw;
    cursor: pointer;
    user-select: none;
  }

  .rightArrow {
    position: absolute;
    top: 85%;
    right: 1rem;
    font-size: 3vw;
    cursor: pointer;
    user-select: none;
  }

  .leftArrow,
  .rightArrow {
    &:hover {
      color: $grey;
    }
  }
}

@media (min-width: $smBreakpoint) and (max-width: $mdBreakpoint) {
  .gallery {
    img {
      height: 49vw;
    }

    .leftArrow,
    .rightArrow {
      top: 94%;
      font-size: 1rem;
    }

    .leftArrow {
      left: 0.1rem;
    }

    .rightArrow {
      right: 0.1rem;
    }
  }
}
