.styledNav {
  padding: 3rem 5rem;
  text-align: center;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  cursor: pointer;
  svg {
    color: #da7f8f;
    width: 2rem;
    height: 2rem;
    padding-right: 0.2rem;
  }
}

.search {
  input {
    width: 30%;
    font-size: 1.5rem;
    padding: 0.5rem;
    border: none;
    margin-top: 1rem;
    caret-color: #94d0cc;
    outline-color: #da7f8f;
    box-shadow: rgba(218, 127, 143, 0.4) -5px 5px,
      rgba(218, 127, 143, 0.3) -10px 10px, rgba(218, 127, 143, 0.2) -15px 15px,
      rgba(218, 127, 143, 0.1) -20px 20px, rgba(218, 127, 143, 0.05) -25px 25px;
  }

  button {
    font-size: 1.5rem;
    border: none;
    padding: 0.8rem 2rem;
    cursor: pointer;
    background: #f39189;
    opacity: 0.5;
    color: white;
  }
}
